RewriteEngine On
RewriteCond 	%{ENV:REDIRECT_STATUS} 	200
RewriteRule 	.* 						- 																																	[L,QSA]

RewriteBase																	/jalmot/

RewriteRule	^\.software.*$													-																								[NE,L]
RewriteRule	^$																.software/index.php																				[L,QSA]

RewriteRule	^(admin/)$														.software/index.php?page=admin																	[L,QSA]

RewriteRule	MediaManager/upload/$											.software/index.php?page=MediaFileUpload&&pageMode=ajax											[L,QSA]

RewriteRule	^model_listing/([^/]*)/$										.software/index.php?page=model_listing&&pageMode=ajax&&descriptor=$1							[L,QSA]

RewriteRule	^model_editor/([^/]*)/$											.software/index.php?page=model_editor&&pageMode=ajax&&descriptor=$1								[L,QSA]
RewriteRule	^model_editor/(.*)/save/$										.software/index.php?page=model_editor&&pageMode=ajax&&descriptor=$1&&action=save				[L,QSA]
RewriteRule	^model_editor/(.*)/delete/$										.software/index.php?page=model_editor&&pageMode=ajax&&descriptor=$1&&action=delete				[L,QSA]

RewriteRule	^connection/[(.*)/(.*)]|connection/()(.*)|connection/$			.software/index.php?page=connection 															[L,QSA]

RewriteRule	^MediaManager/download/([0-9]*)$									.software/index.php?page=MediaFileDownload&&id=$1												[L,QSA]
RewriteRule	^admin/logout/$													.software/index.php?page=adminLogout															[L,QSA]

RewriteRule ^translate/([0-9]*)/([0-9]*)/$									.software/index.php?page=textTranslator&&pageMode=ajax&sourceLanguage=$1&targetLanguage=$2		[L,QSA]