.LanguageFieldME {
}

.LanguageFieldME-wrapper {
	position : absolute;
	left : -110000px;	
}
.LanguageFieldME-visible{
	left : 0;
	top : 0;
}
.LanguageFieldME-container {
	position : relative;
	margin-bottom : 30px;
}
.TextareaLanguageFieldME-wrapper {
	width : 90%;
}