.desktop {
	width : 290px;
	height : 100%;
	background: #575757;
	float : left;
	position : relative;
	z-index : 3000;
}
.desktop h1{
	color : white;
	font-family: "Gruppo";
}
html body{
	background : #EEEEEE;
}
.desktop .icon {
	width : 250px;
	font-family: "Gruppo";
	border-top : 1px solid #6f6f6f;
	margin-left : 10px;
}
.desktop .icon a {
		color : white;
		padding-top : 5px;
		padding-bottom : 5px;
		display : block;
		font-size : 15px;
		padding-left : 10px;
}
.desktop .icon a:hover {
	background-color :  #6f6f6f;
}
.desktop .icon i {
		padding : 5px;
		margin-right : 10px;
}
.frame {
	display : none;
	position : relative;
}
.frameElement {
	position : absolute;
	overflow : auto;
	height : 100%;
	width : 100%;
}
.frame1{
	backround-color : red;
}
.frame2{
	backround-color : blue;
}
.frame3{
	backround-color : pink;
}
.frame4{
	backround-color : orange;
}
.windowManagerMode2 .frame1,.windowManagerMode2 .frame2{
	width : 50%;
	float : left;
	height : 100%;
}
.windowManagerMode3 .frame1,.windowManagerMode3 .frame2{
	width : 50%;
	float : left;
	height : 50%;
}
.windowManagerMode3 .frame3{
	width : 100%;
	float : left;
	height : 50%;
}
.windowManagerMode4 .frame1,.windowManagerMode4 .frame2,.windowManagerMode4 .frame3{
	width : 33%;
	float : left;
	height : 100%;
}
.windowManagerMode5 .frame1,.windowManagerMode5 .frame2,.windowManagerMode5 .frame3,.windowManagerMode5 .frame4{
	width : 50%;
	float : left;
	height : 50%;
}
div.activeFrame {
	display : block;
}
.well{
	height : 100%;
}
.windowManager .close{
	width : 22px;
	height : 22px;
	position : absolute;
	right : 15px;
	top : 15px;
	background : url('../../media/image/share/close.png') no-repeat;
}
